*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    // font-family: 'Roboto', sans-serif;    
}

.coupon{
      display: block;
    &__container{
        position: fixed;
        overflow: auto;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        // background-color: rgba(0,0,0,0.5);
    }
    &__button{
        max-width: 208px;
        width: 100%;
        height: 57px;
        background-color:  #E41B41;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
       
    }
    &__get{
        padding: 19px;
        text-align: center;
        font-family: 'Roboto', sans-serif;  
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        cursor: pointer;
        color: white;
     
        &:hover{
            box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.25);
            border-radius: 15px;
            color: white;
            font-weight: bold;
            font-size: 17px
        }
        &:active{            
            border-radius: 15px;
            box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.25);
        }
    }
}


/* modal */
.modal{
        display:none;
        position: fixed;
        overflow: auto;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
    &-content{
        max-width: 430px;
        width: 100%;
        height: 600px;

        position: absolute;
        background: #FFFFFF;
        box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.25);
        //border: 1px solid black;
        // padding: 42px 49px 43px 48px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);    
    }
}
.close{   
    right: 23px;
    top: 4px;
    width: 18px;
    height: 19px;
    font-size: 42px;
    font-weight: 300;
    position: absolute;
    cursor: pointer;
}
.form{
    height: 100%;
    padding: 42px 49px 43px 48px;
    background-image: url("../../img/gifts.png");
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    &__container{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    &__title{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        max-width: 270px;
        margin: 0 auto;
        margin-bottom: 28px;
    }
    &__bonus{
        font-weight: 800;
        font-size: 28px;
        line-height: 100%;
    
    }
    &-button{
        text-align: center;
       // padding-top: 30px;
        margin-top: auto;
       
        & button{
            outline: none;
            border: 0;
            max-width: 147px;
            width: 100%;
            height: 48px;
            background-color: white;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 15px;
            cursor: pointer;
            &:hover{
            
                border-radius: 15px;
                color: white;
                background-color:#E41B41;
            }
            &:active{
                
                border-radius: 15px;
                box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.25);
            }
            
        }
    }
    &__box{
        height:100%;
    }
     
}
.input-validation__message{
    display:none;
    color: red;
}
/* send success form */
.send-success{
    &__container{
        padding: 43px 0 40px 0;
    }
    &__photo{
        // margin: 23px 0 24px 0;
        margin-top: -43px;
        display: flex;
        justify-content: center;
        margin-right: -10px;
        & img{
            width: 100%;
            max-width: 369px;
        }
    }
    .form__title{
        margin-bottom:0;
    }
}




/*/ send success form */

.checkbox__text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 100%;
    /* or 16px */


    color: #000000;
    & a{
        font-family:'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        /* or 16px */


        color: #000000;
    }
}

.button__text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */

    text-align: center;
    text-transform: uppercase;
    transition: all 0.7s ease;
    color: #E41B41;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input[placeholder]{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */


    color: #000000;
}
input[type="text"]{
    color: #000;
    font-weight: 400;
}

input[type="tel"]{
    color: #000;
    font-weight: 400;
}

input{
    
    color: #000;
    // background: red;
}

.input--theme-default{
    margin-bottom: 14px;
}
.input__control{
    border: 0;
    width: 100%;
    height: 34px;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.25);
    padding: 9px 9px 9px 17px;
}


/* input checkbox style */
input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label
{
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}


input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before
{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.25);
    // border: 1px solid #dddddd;
    // background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after 
{
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #E41B41;
    ;
    border-bottom: 4px solid #E41B41;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after
{
    opacity: 0;
}

input[type="checkbox"]:checked + label:after 
 {
    opacity: 1;
}






@media screen and (max-width:1024px){
   
}
@media screen and (max-width:1024px){
   
}
@media screen and (max-width:824px){
   
}
@media screen and (max-width:768px){
   
}
@media screen and (max-width:668px){
  
}
@media screen and (max-width:568px){
   .modal-content{
       max-width: 352px;
       height: 550px;
   }
   .form{
    padding: 37px 25px 28px 25px;
   }
   .send-success__photo{
       img{
           width: 84%;
       }
   }
}
